@import '../../variables.scss';

header {
	.header-content {
		display: flex;
		justify-content: space-between;
		align-content: center;
		padding: 1rem 2rem;
		max-width: 1600px;
		margin: 0 auto;

		.logo {
			display: flex;
			align-items: center;
			font-size: 24px;
			font-weight: bold;

			.accent {
				color: $accent;
			}
		}

		nav ul {
			display: flex;
			background-color: $bg;
			padding: 1.5rem 2rem;

			a {
				padding: 0.5rem 1rem;
			}
		}
	}
}
