@import './variables.scss';
@import './markdown.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	outline: none;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: $bg;
	color: $black;
	min-height: 100vh;

	--scrollY: 0;
	--scrollY-percent: 0;
}

::selection {
	background-color: $black;
	color: $white;
}

input,
textarea {
	font-family: inherit;
	font-size: inherit;
}

a,
a:visited {
	text-decoration: none;
	color: $black;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

h2 {
	font-size: 64px;
	font-weight: bold;
	margin-bottom: 4rem;
	display: inline-block;

	.subtitle {
		font-size: 32px;
		font-weight: normal;
		display: block;
		margin-left: 48px;
	}

	&:hover {
		&::before {
			background-color: $black;
		}
	}

	&::before {
		content: '';
		display: inline-block;
		height: 24px;
		background-color: $accent;
		width: 24px;
		border-radius: 12px;
		margin-right: 24px;
	}
}

ul {
	list-style: none;
}

.button {
	display: block;
	color: $white !important;
	background-color: $accent;
	padding: 2px 16px;
	font-size: 20px;
	// border-radius: 12px;
	border: 1px solid $accent;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.25s all ease;

	&.hollow {
		color: $accent !important;
		background-color: transparent;
	}

	&.blank {
		border: 1px solid transparent;
		background-color: transparent;
		color: $accent !important;
	}

	&:hover {
		background-color: $bg;
	}
}
