@import '../../variables.scss';

footer {
	height: 240px;
	background-color: $accent;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('https://images.unsplash.com/photo-1585597621600-a46412df5f2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
		background-position: top;
		background-attachment: fixed;
		background-size: cover;
		opacity: 0.08;
	}
}
